---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getPath } from '../../env';
import ArticleGrid from '../../components/ArticleGrid.astro';

const posts = await getCollection('blog');

posts.sort((a, b) => new Date(b.data.date) - new Date(a.data.date));
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <h1 class="post-list">全ての投稿<br/><span>all posts</span></h1>
    <div class="post-wrapper">
        <ArticleGrid posts={posts} />
    </div>
</Layout>

<style>
    .post-list{
        font-family:"IBM Plex Sans JP", sans-serif;
    }
/* 1100px以上対応 */
  @media (min-width: 1100px) {
     .article-grid {
        grid-template-columns: repeat(3, 1fr);
    }
  }

</style>