	---
	import { NORMALIZED_BASE_URL, getPath } from '../env';
	import Layout from '../layouts/Layout.astro'
	import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
	---

	<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<section class="hero">
			<div class="hero-container">
				<img src={getPath('images/logo-large.png')} alt="logo"><h1>うにのブログ</h1>
			</div>
			</section>
			<section class="new">
				<div class="new-badge">NEW</div>
			<article class="new-article">
				<img src={getPath('images/img-test.png')} alt="最新記事の画像">
				<div class="new-content">
					<span class="category">Stroll</span>
					<span class="date">2025/06/29</span>
					<h2>ここはブログのタイトルが入るところここはブログのタイトル</h2>
				</div>
			</article>
			<div class="btn-container">
				<a href="#" class="btn">ブログ一覧へ</a>
			</div>
		</section>

		<section class="category-section web">
			<header class="section-header">
				<h2>Web<span>- ウェブ</span></h2>
					<a href="#">Web一覧へ</a>
			</header>
			<div class="category-section-bg">
				<div class="article-grid">
					<article class="article-card">
						<img src={getPath('images/img-test.png')} alt="">
						<div class="article-card-content">
							<p class="meta">
								<span class="category">Web</span>
								<time datetime="2025-06-29">2025/06/29</time>
							</p>
							<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
						</div>
					</article>
					<article class="article-card">
						<img src={getPath('images/img-test.png')} alt="">
						<div class="article-card-content">
							<p class="meta">
								<span class="category">Web</span>
								<time datetime="2025-06-29">2025/06/29</time>
							</p>
							<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
						</div>
					</article>
					<article class="article-card">
						<img src={getPath('images/img-test.png')} alt="">
						<div class="article-card-content">
							<p class="meta">
								<span class="category">Web</span>
								<time datetime="2025-06-29">2025/06/29</time>
							</p>
							<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
						</div>
					</article>
				</div>
			</div>	
		</section>

		<section class="category-section photo">
			<header class="section-header">
				<h2>Photo<span>- 写真</span></h2>
				<a href="#">Photo一覧へ</a>
			</header>
			<div class="category-section-bg">
				<div class="article-grid">
					<article class="article-card">
						<img src={getPath('images/img-test.png')} alt="">
						<div class="article-card-content">
							<p class="meta"><span class="category">Photo</span><time datetime="2025-06-29">2025/06/29</time></p>
							<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
						</div>
					</article>
					<article class="article-card">
						<img src={getPath('images/img-test.png')} alt="">
						<div class="article-card-content">
							<p class="meta"><span class="category">Photo</span><time datetime="2025-06-29">2025/06/29</time></p>
							<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
						</div>
					</article>
					<article class="article-card">
						<img src={getPath('images/img-test.png')} alt="">
						<div class="article-card-content">
							<p class="meta"><span class="category">Photo</span><time datetime="2025-06-29">2025/06/29</time></p>
							<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
						</div>
					</article>
				</div>
			</div>
		</section>

		<section class="category-section stroll">
			<header class="section-header">
				<h2>Stroll<span>- 散歩</span></h2>
				<a href="#">Stroll一覧へ</a>
			</header>
			<div class="category-section-bg">
			<div class="article-grid">
				<article class="article-card">
					<img src={getPath('images/img-test.png')} alt="">
					<div class="article-card-content">
						<p class="meta"><span class="category">Stroll</span><time datetime="2025-06-29">2025/06/29</time></p>
						<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
					</div>
				</article>
				<article class="article-card">
					<img src={getPath('images/img-test.png')} alt="">
					<div class="article-card-content">
						<p class="meta"><span class="category">Stroll</span><time datetime="2025-06-29">2025/06/29</time></p>
						<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
					</div>
				</article>
				<article class="article-card">
					<img src={getPath('images/img-test.png')} alt="">
					<div class="article-card-content">
						<p class="meta"><span class="category">Stroll</span><time datetime="2025-06-29">2025/06/29</time></p>
						<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
					</div>
				</article>
				</div>
			</div>
		</section>

		<section class="category-section succulent">
			<header class="section-header">
				<h2>Succulent<span>- 多肉植物</span></h2>
				<a href="#">Succulent一覧へ</a>
			</header>
			<div class="category-section-bg">
			<div class="article-grid">
				<article class="article-card">
					<img src={getPath('images/img-test.png')} alt="">
					<div class="article-card-content">
						<p class="meta">
							<span class="category">Succulent</span>
							<time datetime="2025-06-29">2025/06/29</time>
						</p>
						<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
					</div>
				</article>
				<article class="article-card">
					<img src={getPath('images/img-test.png')} alt="">
					<div class="article-card-content">
						<p class="meta">
							<span class="category">Succulent</span>
							<time datetime="2025-06-29">2025/06/29</time>
						</p>
						<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
					</div>
				</article>
				<article class="article-card">
					<img src={getPath('images/img-test.png')} alt="">
					<div class="article-card-content">
						<p class="meta">
							<span class="category">Succulent</span>
							<time datetime="2025-06-29">2025/06/29</time>
						</p>
						<h3>ここはブログのタイトルが入るところここはブログのタイトル</h3>
					</div>
				</article>
			</div>
		</section>
	</main>
	</Layout>

	<style>
		/* ヒーローセクション (NEW) */
	.hero {
		padding: 120px 0 100px;
		text-align: center;
		background-color: var(--main-color);
	}
	.hero h1 {
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 200;
		letter-spacing: 2.1em;
		margin-bottom: 30px;
		transform: translateX(13px);
	}
	.hero img {
	width: 300px;
	margin: auto;
	}
	.new img {
		width: 100%;
		min-width: 300px;
		height: 100%;
		object-fit: cover;
		margin: 0 auto;
	}
	.new-article {
		position: relative;
		width: 90%;
		margin: auto;
		max-width: 500px;
		min-width: 300px;
	}
	.new .new-badge {
		text-align: center;
		font-size: 5rem;
		font-weight: 100;
		letter-spacing: 0.2em;
		color: var(--border-color);
		margin-top: -4rem;
	}
	.new-content {
		font-family: "IBM Plex Sans JP", sans-serif;
		padding: 20px;
		text-align: left;
	}
	.new-content .category {
		color: #fff;
		background-color: var(--category-stroll);
		font-weight: 300;
		font-size: 1.8rem;
		padding: 0.1em 0.5em;
		border-radius: 50px;
	}
	.new-content .date {
		color: var(--text-color);
		margin-left: 10px;
		font-size: 1.8rem;
		font-weight: 200;
	}
	.new-content h2 {
		font-size: 2rem;
		font-family: "IBM Plex Sans JP", sans-serif;
		margin: 20px 0;
		font-weight: 500;
		line-height: 1.6;
		letter-spacing: 0.05em;

	}
	.btn-container {
		text-align: center;
		font-size: 1.8rem;
		font-weight: 200;
		letter-spacing: 0.1em;
		color: var(--light-gray);
	}


	/* 記事セクション */
	.category-section {
		margin: 40px 0;
	}

	.category-section-bg {
		background-color: var(--light-gray);
		padding: 20px;
	}
	.section-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 4vw 0;
		position: relative;
		top: 4em;
	}

	.section-header h2 {
		margin: 0;
		font-size: 5rem;
		font-weight: 100;
		color: var(--text-color);
	}

	.section-header h2::first-letter{
		font-size: 7rem;
		font-weight: 200;
	}

	.web h2::first-letter{
		color: var(--category-web);
	}

	.photo h2::first-letter{
		color: var(--category-photo);
	}

	.stroll h2::first-letter{
		color: var(--category-stroll);
	}

	.succulent h2::first-letter{	
		color: var(--category-succulent);
	}

	.section-header h2 span {
		font-size: 2.2rem;
		vertical-align: middle;
		margin-left: 0.5em;
	}

	.section-header a {
		font-style: normal;
		font-weight: 200;
		color: var(--text-color);
		font-size: 1.4rem;
		letter-spacing: 0.1em;
	}

	/* CSS GRID を使用した記事一覧 */
	.article-grid {
		display: grid;
		/* 画面幅に応じて列数を自動調整 */
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 25px;
		margin: 30px 4vw 30px;
	}

	.article-card {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		max-width: 380px;
		margin: auto;
	}

	.article-card img {
		width: 100%;
		aspect-ratio: 16 / 9;
		object-fit: cover;
		background-color: var(--light-gray);
	}

	.article-card-content {
		padding: 0 15px 11px;
		flex-grow: 1; /* 内容が少なくても高さを揃える */
	}

	.article-card-content .meta {
		font-size: 1.5rem;
		margin-bottom: 5px;
	}

	.article-card-content .category{
		font-weight: 300;
		color: #fff;
		font-size: 1.3rem;
		padding: 0.1em 0.5em;
		border-radius: 50px;
		margin-right: 1em;
		vertical-align: text-top;
	}

	.article-card-content .meta time{
		font-weight: 200;
	}

	.web .category{
		background-color: var(--category-web);
	}

	.photo .category{
		background-color: var(--category-photo);
	}	

	.stroll .category{
		background-color: var(--category-stroll);
	}

	.succulent .category{	
		background-color: var(--category-succulent);
	}

	.article-card-content h3 {
		font-size: 1.8rem;
		margin: 0;
		font-weight: 500;
	}

	.view-all-link {
		text-align: right;
		margin-top: 20px;
	}

	/* ボタン共通スタイル */
	.btn {
		display: inline-block;
		background-color: var(--text-color);
		color: white;
		padding: 12px 30px;
		border-radius: 5px;
		transition: background-color 0.3s;
	}
	.btn:hover {
		background-color: #555;
	}

	/* レスポンシブ対応 (スマートフォン) */
@media (max-width: 768px) {
  .site-header {
    flex-direction: column;
    gap: 15px;
  }
  .hero h1 {
    font-size: 1.2rem;
  }
  .section-header {
    display: block;
	top: 7em;
  }

  .section-header a {
	display: block;
    text-align: right;
  }


  .section-header h2{
	margin-bottom: 8px;
  }

  .section-header h2 span{
    font-size: 1.8rem;
  }

  .article-card:not(:last-child){
		margin-bottom: 5%;
	}

  .category-section-bg{
	padding: 65px 0 20px;
  }
}
</style>