---
import { NORMALIZED_BASE_URL, getPath } from '../env';
import Layout from '../layouts/Layout.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
<main>

</main>
</Layout>