---
// src/components/Footer.astro
const year = new Date().getFullYear();
import { getPath } from '../env';
---

<footer class="site-footer">
    <div class="container">
        <div class="logo"><img src={getPath('images/logo-small.png')} alt="logo"></div>
        <p>&copy; 2025 ISHIKAWA All Rights Reserved</p>
    </div>
</footer>





<style>
    /* フッター */
.site-footer {
    background-color: var(--main-color);
    color: white;
    padding: 30px 0;
    text-align: center;
    margin-top: 40px;
}
.site-footer .logo {
     font-size: 2rem;
    font-weight: bold;
}

.logo img {
    margin:auto;
    width: 120px;
}
.site-footer p {
    margin: 10px 0 0;
    font-size: 0.8rem;
    color: var(--text-color)    ;
}
</style>