---
// src/components/Footer.astro
const year = new Date().getFullYear();
import { getPath } from '../env';
---

<!-- フッターコンポーネント -->
<footer class="site-footer">
    <div class="container">
        <div class="logo"><img src={getPath('images/logo.png')} alt="logo"></div>
    </div>
    <p>&copy; 2025 ISHIKAWA All Rights Reserved</p>
</footer>





<style>
    /* フッター */
.site-footer {
    background-color: var(--main-color);
    color: white;
    padding: 60px 0 0;
    text-align: center;
    margin-top: 40px;
}
.site-footer .logo {
     font-size: 2rem;
    font-weight: bold;
}

.container {
    margin-bottom: 60px;
}

.logo img {
    margin:auto;
    width: 120px;
}
.site-footer p {
    padding:0 0 10px;
    font-size: 1rem;
    color: var(--text-color);
    letter-spacing: 0.15em;
    font-weight: 200;
}

</style>