---
// src/layouts/BaseLayout.astro
import { SITE_TITLE } from '../consts'
import '../styles/global.css'
import { getPath } from '../env';
---

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{SITE_TITLE}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP:wght@200;300;400;500&family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        new Swiper('.swiper', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        loop: true,
        speed: 2000, // トランジション速度を1秒に設定（よりスムーズ）
        effect: 'slide', // スライドエフェクト
        autoplay: {
            delay: 3000, // 2秒間隔で自動スライド
            disableOnInteraction: false, // ユーザーが操作しても自動スライドを停止しない
            pauseOnMouseEnter: true, // マウスホバーでも停止
            stopOnLastSlide: false, // 最後のスライドでも停止しない
        },
        pagination: {
            el: '.swiper-pagination',
            },
        });
    });
    </script>
</head>