---
import Head from '../components/Head.astro';
import HeaderNavi from '../components/HeaderNavi.astro';
import Footer from '../components/Footer.astro';

type Props = {
    title: string
    description: string
}

const {title,description} = Astro.props
---

<Head/>
	<body>
		<HeaderNavi />
        <!-- ページの内容が入る -->
		<slot /> 
		<Footer />
		<script>
			document.addEventListener('DOMContentLoaded', function () {
				new Swiper('.swiper', {
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
				loop: true,
				speed: 2000, // トランジション速度を1秒に設定（よりスムーズ）
				effect: 'slide', // スライドエフェクト
				autoplay: {
					delay: 3000, // 2秒間隔で自動スライド
					disableOnInteraction: false, // ユーザーが操作しても自動スライドを停止しない
					pauseOnMouseEnter: true, // マウスホバーでも停止
					stopOnLastSlide: false, // 最後のスライドでも停止しない
				},
				pagination: {
					el: '.swiper-pagination',
					},
				});
			});
		</script>
	</body>
</html>
