---
import Head from '../components/Head.astro';
import HeaderNavi from '../components/HeaderNavi.astro';
import Footer from '../components/Footer.astro';

type Props = {
    title: string
    description: string
}

const {title,description} = Astro.props
---

<Head title={title}/>
	<body>
		<HeaderNavi />
        <!-- ページの内容が入る -->
		<slot /> 
		<Footer />
	</body>
</html>

{/* フロントマター */}
{/* サイト全体のレイアウトを管理するコンポーネント */}

<script>
	window.addEventListener('DOMContentLoaded', () => {
		//as NodeListOf<HTMLElement>で型を指定（typescript）
		const timelineItems = document.querySelectorAll('.fuwa') as NodeListOf<HTMLElement>
		//IntersectionObserverで要素が画面に入った時にfade-inクラスを追加
		const observer = new IntersectionObserver((entries) => {
			entries.forEach((entry) => {
				if(entry.isIntersecting){
					entry.target.classList.add('fade-in');
					//要素が画面に入ったらobserverでの監視を解除
					observer.unobserve(entry.target);
				}
			});
			{ threshold: 0.5 }
		});
		//各要素にobserverを設定
		timelineItems.forEach((item) => {
			observer.observe(item);
		});
	});
  </script>
